@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Employee Management System</h1>
    <br />
    <button type="button" class="btn btn-secondary btn-lg" onclick="location.href='@Url.Action("Index", "Employees")'">Employee Directory</button>
</div>
